.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 35px;
    height: 14px;
    transition: opacity .7s;
}
.switch:hover{
    opacity: .8;
    cursor: pointer;
}
.switch__checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #EBEBEB;
    transition: .5s;
    border-radius: 30px;
    border: 1px solid #EBEBEB;
}
.switch__slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 16px;
    left: 1px;
    top: 1px;
    background-color: #F5F5F5;
    transition: .4s;
}
.switch__checkbox:checked + .switch__slider {
    background-color: #5fdd54;
    border: 1px solid transparent;
}
.switch__checkbox:checked + .switch__slider:before {
    transform: translateX(21px);
}